In [2]:
'''
#h_df = df.sort_values(by=['행정동코드'])

#df2 = df.sort_values(by=['총생활인구수'],ascending=False)

#int(df2[['총생활인구수']].mean())

# a = int(df2[["총생활인구수"]].mean())
# df3 = df2.query(f'총생활인구수 >= {a}')
# df3
'''

'\n#h_df = df.sort_values(by=[\'행정동코드\'])\n\n#df2 = df.sort_values(by=[\'총생활인구수\'],ascending=False)\n\n#int(df2[[\'총생활인구수\']].mean())\n\n# a = int(df2[["총생활인구수"]].mean())\n# df3 = df2.query(f\'총생활인구수 >= {a}\')\n# df3\n'

## Excel 변환작업 확인

In [21]:
# 연속하는 zipfile 풀기
'''
import zipfile
for i in range(1,32):
    if i < 10: i = '0'+str(i)
    else: str(i)
    fantasy_zip = zipfile.ZipFile(f'C:/Users/의원1/Desktop/LOCAL_PEOPLE_201803/LOCAL_PEOPLE_201803{i}.zip')
    fantasy_zip.extractall('C:/Users/의원1/Desktop/LOCAL_PEOPLE_201803')

fantasy_zip.close()
'''

In [1]:
import pandas as pd

In [23]:
df = pd.read_csv('LOCAL_PEOPLE_20180101.csv')
code = pd.read_csv('행정동코드.csv',index_col=0)

In [24]:
df

,기준일ID,시간대구분,행정동코드,집계구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20180101,0,11260610,1107062080001,272,*,*,4,6,10,...,10,9,13,4,13,7,17,14,10,22
1,20180101,0,11320511,1110059020104,251,5,*,15,22,11,...,14,6,8,6,10,7,10,6,*,*
2,20180101,0,11320513,1110061020010,454,21,11,13,11,12,...,15,12,17,14,21,17,18,13,16,42
3,20180101,0,11350621,1111061020208,443,10,15,22,12,6,...,11,7,10,23,30,23,21,10,9,27
4,20180101,0,11380510,1112051010101,299,8,4,4,10,4,...,9,12,14,11,17,18,15,11,15,21
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459624,20180101,23,11710532,1124054021005,489,14,9,12,11,8,...,14,22,24,18,26,19,20,19,12,29
459625,20180101,23,11710566,1124059020105,385,10,10,9,9,8,...,14,8,9,16,19,17,21,15,8,30
459626,20180101,23,11710580,1124061020021,432,13,5,9,12,19,...,25,28,25,11,20,15,16,19,14,24
459627,20180101,23,11710641,1124068010203,403,19,10,10,10,11,...,15,12,14,11,16,18,21,24,15,15
459628,20180101,23,11740660,1125067010016,1721,22,13,39,66,89,...,102,101,76,63,77,53,74,65,36,59

In [17]:
df1 = pd.merge(df.iloc[:,:5],code.iloc[:,1:], on='행정동코드',how ='left')
df1 = df1.dropna()
df1 = df1[df1.apply(lambda x : x['총생활인구수'] != 0 ,axis=1)]

In [20]:
df1.sort_values(by=['시간대구분'],inplace=True)

In [22]:
df1.query('시간대구분 in [12,14,18,20]')

           기준일ID  시간대구분     행정동코드          집계구코드  총생활인구수 시도명 시군구명   행정동명
115089  20180101     12  11170630  1103063021702     325  서울  용산구   이촌1동
40902   20180101     12  11170625  1103073040003    1614  서울  용산구   한강로동
110435  20180101     12  11170640  1103064010401     182  서울  용산구   이촌2동
90689   20180101     12  11170685  1103074040003    1419  서울  용산구    한남동
364407  20180101     12  11170685  1103074050016     625  서울  용산구    한남동
...          ...    ...       ...            ...     ...  ..  ...    ...
165672  20180101     20  11170660  1103066010001     397  서울  용산구  이태원2동
202651  20180101     20  11170685  1103074040009     735  서울  용산구    한남동
214295  20180101     20  11170560  1103072030001     854  서울  용산구  원효로1동
352447  20180101     20  11170630  1103063020401     162  서울  용산구   이촌1동
214296  20180101     20  11170560  1103072040603     187  서울  용산구  원효로1동

[1744 rows x 8 columns]

In [ ]:
df1['총생활인구수'] = df1.groupby(['시간대구분','행정동명'])['총생활인구수'].transform('mean')

In [12]:
df.query('(년==2018)&(월==1)&(행정동명=="이태원1동")').sort_values(by=['시간대구분'],axis=0)

     Unnamed: 0  시간대구분     행정동코드  총생활인구수 시도명 시군구명   행정동명     년  월
381      287928      0  11170650    1884  서울  용산구  이태원1동  2018  1
368      200280      1  11170650    2257  서울  용산구  이태원1동  2018  1
314      115888      2  11170650    2217  서울  용산구  이태원1동  2018  1
287       94278      3  11170650    1395  서울  용산구  이태원1동  2018  1
257       72708      4  11170650    1663  서울  용산구  이태원1동  2018  1
215       51091      5  11170650    1511  서울  용산구  이태원1동  2018  1
160       29318      6  11170650     983  서울  용산구  이태원1동  2018  1
61         7407      7  11170650     963  서울  용산구  이태원1동  2018  1
313      115011      8  11170650     784  서울  용산구  이태원1동  2018  1
286       93409      9  11170650    1135  서울  용산구  이태원1동  2018  1
256       72339     10  11170650    1160  서울  용산구  이태원1동  2018  1
214       50721     11  11170650    1214  서울  용산구  이태원1동  2018  1
158       28946     12  11170650     860  서울  용산구  이태원1동  2018  1
58         7035     13  11170650    1051  서울  용산구  이태원1동  2018  1
285       93033     14  11170650    1249  서울  용산구  이태원1동  2018  1
255       71453     15  11170650    1398  서울  용산구  이태원1동  2018  1
212       49839     16  11170650     922  서울  용산구  이태원1동  2018  1
155       28062     17  11170650    1244  서울  용산구  이태원1동  2018  1
49         6166     18  11170650    1043  서울  용산구  이태원1동  2018  1
51         6187     19  11170650    1043  서울  용산구  이태원1동  2018  1
339      136843     20  11170650    1483  서울  용산구  이태원1동  2018  1
382      289673     21  11170650    1536  서울  용산구  이태원1동  2018  1
369      202219     22  11170650     838  서울  용산구  이태원1동  2018  1
315      117610     23  11170650     751  서울  용산구  이태원1동  2018  1

In [139]:
for i in range(6,32):
    if i < 10: i = '0'+str(i)
    else: str(i)
    df = pd.read_csv(f'./LOCAL_PEOPLE_202008/LOCAL_PEOPLE_202008{i}.csv',encoding='cp949') #
#     df.reset_index(inplace=True)
#     df = pd.DataFrame(df.iloc[:,:-5].values,columns=df.columns[5:])
    df.to_csv(f'./LOCAL_PEOPLE_202008/LOCAL_PEOPLE_202008{i}.csv',index=False)

In [112]:
code = pd.read_csv('행정동코드.csv',index_col=0) 
path = f'.\LOCAL_PEOPLE_202008' #
file_list = os.listdir(path) 

code = code.query("시군구명 == '용산구'")

df.reset_index(inplace=True)
df = pd.DataFrame(df.iloc[:,:-5].values,columns=df.columns[5:])   
df.rename(columns={'?"기준일ID"':'기준일ID'},inplace=True)

In [111]:
df1 = pd.merge(df.iloc[:,:5],code.iloc[:,1:], on='행정동코드',how ='left')
df1 = df1.dropna()
df1 = df1[df1.apply(lambda x : x['총생활인구수'] != 0 ,axis=1)]

# df1 = df1.sort_values(by=['총생활인구수'],ascending=False)
df1['기준일ID']= df1['기준일ID'].astype('str')

df1['기준일ID'] = pd.to_datetime(df1['기준일ID'])

df1['년'] = df1['기준일ID'].dt.year
df1['월'] = df1['기준일ID'].dt.month

df1.drop(['기준일ID'],axis=1,inplace=True)
df1.drop(['집계구코드'],axis=1,inplace=True)

df1['총생활인구수']= df1['총생활인구수'].astype(int)

# df1.replace('*',np.nan,inplace=True)
# df1.dropna(inplace=True)
# df3 = df1.groupby()['총생활인구수'].transform('mean')
df1['총생활인구수'] = df1.groupby(['시간대구분','행정동명'])['총생활인구수'].transform('mean')
df1['총생활인구수'] = df1['총생활인구수'].astype(int)

KeyError: '행정동코드'

In [108]:
df1

       시간대구분     행정동코드  총생활인구수 시도명 시군구명 행정동명     년  월
539        0  11170510     451  서울  용산구  후암동  2020  8
540        0  11170510     451  서울  용산구  후암동  2020  8
541        0  11170510     451  서울  용산구  후암동  2020  8
542        0  11170510     451  서울  용산구  후암동  2020  8
543        0  11170510     451  서울  용산구  후암동  2020  8
...      ...       ...     ...  ..  ...  ...   ... ..
441486    23  11170700     424  서울  용산구  보광동  2020  8
441487    23  11170700     424  서울  용산구  보광동  2020  8
441488    23  11170700     424  서울  용산구  보광동  2020  8
441489    23  11170700     424  서울  용산구  보광동  2020  8
441490    23  11170700     424  서울  용산구  보광동  2020  8

[10459 rows x 8 columns]

In [74]:
for i in range(22,30):
    if i < 10: i = '0'+str(i)
    else: str(i)
    df = pd.read_csv(f'./LOCAL_PEOPLE_202002/LOCAL_PEOPLE_202002{i}.csv')#,encoding='cp949')
    df.rename(columns={'?"기준일ID"':'기준일ID'},inplace=True)
    df.to_csv(f'./LOCAL_PEOPLE_202002/LOCAL_PEOPLE_202002{i}.csv',index=False)
    #df = pd.read_csv(f'./LOCAL_PEOPLE_202002/LOCAL_PEOPLE_202002{i}.csv')

In [64]:
df = pd.read_csv(f'./LOCAL_PEOPLE_202012/LOCAL_PEOPLE_20201201.csv',encoding='cp949')

In [71]:
df.columns

Index(['?"기준일ID"', '시간대구분', '행정동코드', '집계구코드', '총생활인구수', '남자0세부터9세생활인구수',
       '남자10세부터14세생활인구수', '남자15세부터19세생활인구수', '남자20세부터24세생활인구수',
       '남자25세부터29세생활인구수', '남자30세부터34세생활인구수', '남자35세부터39세생활인구수',
       '남자40세부터44세생활인구수', '남자45세부터49세생활인구수', '남자50세부터54세생활인구수',
       '남자55세부터59세생활인구수', '남자60세부터64세생활인구수', '남자65세부터69세생활인구수', '남자70세이상생활인구수',
       '여자0세부터9세생활인구수', '여자10세부터14세생활인구수', '여자15세부터19세생활인구수',
       '여자20세부터24세생활인구수', '여자25세부터29세생활인구수', '여자30세부터34세생활인구수',
       '여자35세부터39세생활인구수', '여자40세부터44세생활인구수', '여자45세부터49세생활인구수',
       '여자50세부터54세생활인구수', '여자55세부터59세생활인구수', '여자60세부터64세생활인구수',
       '여자65세부터69세생활인구수', '여자70세이상생활인구수'],
      dtype='object')

In [72]:
df.rename(columns={'?"기준일ID"':'기준일ID'})

,기준일ID,시간대구분,행정동코드,집계구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20201201,0,11110515,1101072010001,541.6642,27.6429,17.6141,19.1123,15.3665,19.2141,...,15.2531,14.6661,18.2248,28.4839,30.8424,25.9389,22.8821,12.3546,9.4675,35.1673
1,20201201,0,11110515,1101072010002,706.9843,19.4583,12.3989,17.6031,22.0039,32.8145,...,26.3425,22.465,24.5413,23.1028,42.6087,29.5324,21.8111,24.9818,14.4288,82.2015
2,20201201,0,11110515,1101072010003,511.4269,25.7467,16.4058,31.4628,33.9407,9.6316,...,7.0665,11.5508,17.7327,23.8523,24.5762,20.712,15.7351,6.7596,11.283,52.8208
3,20201201,0,11110515,1101072010004,240.1042,9.7802,6.232,5.6608,*,8.2024,...,8.2682,13.4344,10.8131,9.6502,9.4481,9.2694,11.5024,12.422,*,12.1774
4,20201201,0,11110515,1101072010005,561.4954,28.4338,18.1181,31.4214,32.6285,12.6233,...,9.4158,12.9024,19.1439,27.1879,28.3246,23.707,18.6327,8.2618,11.7553,53.5008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459663,20201201,23,11740700,1125071022201,1020.9256,27.4591,13.8518,33.5007,20.2301,36.3497,...,29.6942,29.5908,46.9255,48.2804,40.7129,50.855,54.1955,48.7305,34.6247,55.4304
459664,20201201,23,11740700,1125071022202,258.4358,6.8514,*,8.7868,5.3016,9.4363,...,7.5403,7.2168,12.1032,12.4782,10.4065,13.314,13.8778,12.7371,8.9033,12.8073
459665,20201201,23,11740700,1125071022501,1029.2337,30.5923,15.4324,24.903,15.1896,29.8565,...,29.3278,37.7454,40.794,41.2103,38.1154,38.5124,50.0489,37.5077,30.8981,91.2982
459666,20201201,23,11740700,1125071022701,131.6353,4.4809,*,4.0842,*,4.8846,...,*,4.0389,4.9247,5.32,7.5171,8.0193,7.1667,*,6.5801,6.3555
459667,20201201,23,11740700,1125071023701,537.7411,16.2851,8.2151,17.72,10.5826,19.8764,...,16.606,14.6074,25.1509,25.4725,21.8618,26.6029,27.9587,25.1819,18.4597,25.4529

## 2019년 excel전처리해서 다시 excel에 넣기

In [77]:
df = pd.read_csv(f'./LOCAL_PEOPLE_202008/LOCAL_PEOPLE_20200801.csv',encoding='cp949')
df.reset_index(inplace=True)
df = pd.DataFrame(df.iloc[:,:-5].values,columns=df.columns[5:])
# df.to_csv(f'./LOCAL_PEOPLE_201909/LOCAL_PEOPLE_2019090{i}.csv',index=False)

In [78]:
df

,"?""기준일ID""",시간대구분,행정동코드,집계구코드,총생활인구수,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,남자20세부터24세생활인구수,남자25세부터29세생활인구수,...,여자25세부터29세생활인구수,여자30세부터34세생활인구수,여자35세부터39세생활인구수,여자40세부터44세생활인구수,여자45세부터49세생활인구수,여자50세부터54세생활인구수,여자55세부터59세생활인구수,여자60세부터64세생활인구수,여자65세부터69세생활인구수,여자70세이상생활인구수
0,20200801,0,11110515,1101072010002,783,20,12,19,21,35,...,35,26,33,33,40,30,24,28,13,71
1,20200801,0,11110515,1101072010003,434,17,10,25,25,6,...,7,17,13,21,20,20,9,5,11,43
2,20200801,0,11110515,1101072010004,204,4,*,6,*,8,...,9,6,6,11,6,5,8,8,*,9
3,20200801,0,11110515,1101072010005,487,21,13,25,25,9,...,9,18,15,23,25,24,14,6,12,43
4,20200801,0,11110515,1101072010006,202,*,*,6,*,5,...,7,9,12,8,11,7,8,*,*,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
459662,20200801,23,11740700,1125071022201,790,19,10,17,11,33,...,19,15,35,34,38,37,39,28,16,55
459663,20200801,23,11740700,1125071022202,184,4,*,*,*,8,...,4,*,8,8,9,9,8,6,*,13
459664,20200801,23,11740700,1125071022501,968,37,19,28,13,23,...,20,29,33,27,42,34,56,37,40,63
459665,20200801,23,11740700,1125071022701,158,6,*,7,5,4,...,*,*,6,6,5,11,7,4,*,13
459666,20200801,23,11740700,1125071023701,521,11,5,10,7,23,...,13,9,24,23,25,25,25,18,9,36

In [151]:
for i in range(2,5):
    df = pd.read_csv(f'./LOCAL_PEOPLE_201909/LOCAL_PEOPLE_2019090{i}.csv',encoding='cp949')
    df.reset_index(inplace=True)
    df = pd.DataFrame(df.iloc[:,:-5].values,columns=df.columns[5:])
    df.to_csv(f'./LOCAL_PEOPLE_201909/LOCAL_PEOPLE_2019090{i}.csv',index=False)

In [248]:
df['기준일ID'].unique()

df.replace(20190215,20190312,inplace=True)
df.replace(20190311,20190312,inplace=True)

df.to_csv('./LOCAL_PEOPLE_201903/LOCAL_PEOPLE_20190312.csv',index=False)

df = pd.read_csv('./LOCAL_PEOPLE_201903/LOCAL_PEOPLE_20190312.csv')

In [82]:
import pandas as pd
import numpy as np

df = pd.read_csv('./LOCAL_PEOPLE_201909/LOCAL_PEOPLE_20190902.csv',encoding='cp949')
code = pd.read_csv('행정동코드.csv',index_col=0)

code = code.query("시군구명 == '용산구'")

df1 = pd.merge(df.iloc[:,:5],code.iloc[:,1:], on='행정동코드',how ='left')
df1 = df1.dropna()

df1 = df1[df1.apply(lambda x : x['총생활인구수'] != 0 ,axis=1)]

# df1 = df1.sort_values(by=['총생활인구수'],ascending=False)
df1['기준일ID']= df1['기준일ID'].astype('str')

df1['기준일ID'] = pd.to_datetime(df1['기준일ID'])

df1['년'] = df1['기준일ID'].dt.year
df1['월'] = df1['기준일ID'].dt.month

df1.drop(['기준일ID'],axis=1,inplace=True)
df1.drop(['집계구코드'],axis=1,inplace=True)


# df1.replace('*',np.nan,inplace=True)
# df1.dropna(inplace=True)

# df3 = df1.groupby()['총생활인구수'].transform('mean')
df1['총생활인구수'] = df1.groupby(['시간대구분','행정동명'])['총생활인구수'].transform('mean')
df1['총생활인구수'] = df1['총생활인구수'].astype(int)

df1.drop_duplicates(inplace=True)

In [79]:
df1

        시간대구분     행정동코드  총생활인구수 시도명 시군구명   행정동명     년  월
539         0  11170510     398  서울  용산구    후암동  2019  9
574         0  11170520     442  서울  용산구  용산2가동  2019  9
598         0  11170530     933  서울  용산구    남영동  2019  9
611         0  11170555     541  서울  용산구    청파동  2019  9
651         0  11170560     742  서울  용산구  원효로1동  2019  9
...       ...       ...     ...  ..  ...    ...   ... ..
441333     23  11170650    1220  서울  용산구  이태원1동  2019  9
441344     23  11170660     718  서울  용산구  이태원2동  2019  9
441362     23  11170685     718  서울  용산구    한남동  2019  9
441400     23  11170690     574  서울  용산구   서빙고동  2019  9
441426     23  11170700     457  서울  용산구    보광동  2019  9

[384 rows x 8 columns]

In [156]:
import pandas as pd
import numpy as np

df = pd.read_csv('./LOCAL_PEOPLE_201903/LOCAL_PEOPLE_20190301.csv')
code = pd.read_csv('행정동코드.csv',index_col=0)

code = code.query("시군구명 == '용산구'")

df2 = pd.merge(df.iloc[:,:5],code.iloc[:,1:], on='행정동코드',how ='left')
df2 = df2.dropna()
df2 = df2[df2.apply(lambda x : x['총생활인구수'] != 0 ,axis=1)]

# df1 = df1.sort_values(by=['총생활인구수'],ascending=False)
df2['기준일ID']= df2['기준일ID'].astype('str')

df2['기준일ID'] = pd.to_datetime(df2['기준일ID'])

df2['년'] = df2['기준일ID'].dt.year
df2['월'] = df2['기준일ID'].dt.month

df2.drop(['기준일ID'],axis=1,inplace=True)
df2.drop(['집계구코드'],axis=1,inplace=True)


# df1.replace('*',np.nan,inplace=True)
# df1.dropna(inplace=True)

# df3 = df1.groupby()['총생활인구수'].transform('mean')
df2['총생활인구수'] = df2.groupby(['시간대구분','행정동명'])['총생활인구수'].transform('mean')
df2['총생활인구수'] = df2['총생활인구수'].astype(int)

df2.drop_duplicates(inplace=True)

## Unnamed :0 column 없애기

In [160]:
for i in range(1,13):
    if i < 10: i = '0'+str(i)
    else: str(i)
    df = pd.read_csv(f'LOCAL_PEOPLE_2019{i}.csv')
    df.drop(['Unnamed: 0'],axis=1,inplace=True)
    df.to_csv(f'LOCAL_PEOPLE_2019{i}.csv',index=False)

SyntaxError: invalid syntax (<ipython-input-160-61d958e68e49>, line 4)

In [164]:
month = []
for i in range(17,21):
    if i < 10: i = '0'+str(i)
    else: str(i)
    df = pd.read_csv(f'./Dataset/LOCAL_PEOPLE_20{i}.csv')
    month.append(df)
result = pd.concat(month)
result.to_csv('Dataset.csv',index=False)
print('통합완료')

통합완료

In [166]:
pd.read_csv(f'./Dataset.csv')

       시간대구분     행정동코드  총생활인구수 시도명 시군구명   행정동명     년   월
0          0  11170510     477  서울  용산구    후암동  2017   1
1          0  11170520     472  서울  용산구  용산2가동  2017   1
2          0  11170530     986  서울  용산구    남영동  2017   1
3          0  11170555     638  서울  용산구    청파동  2017   1
4          0  11170560     516  서울  용산구  원효로1동  2017   1
...      ...       ...     ...  ..  ...    ...   ...  ..
18427     23  11170650     821  서울  용산구  이태원1동  2020  12
18428     23  11170660     685  서울  용산구  이태원2동  2020  12
18429     23  11170685     685  서울  용산구    한남동  2020  12
18430     23  11170690     600  서울  용산구   서빙고동  2020  12
18431     23  11170700     419  서울  용산구    보광동  2020  12

[18432 rows x 8 columns]

In [331]:
# df1 = df1.sort_values(by=['총생활인구수'],ascending=False)
# df.fillna(value = 0, inplace=True)
# df2.replace('*',np.nan,inplace=True)

# for i in range(2,3):
#     df = pd.read_csv(f'LOCAL_PEOPLE_2019010{str(i)}.csv')
#     # df2의 총생활인구수와 평균을 내서 다시삽입
#     df2['총생활인구수'] = df2.groupby(['시간대구분','행정동명'])['총생활인구수'].transform('mean')